    <div class="container">
        <div class="row" style="border: 1px solid black;">
            <div class="col-md-12">
                <div class="row principal">
                    <div id="inicioVoto" class="col-md-7 col-xs-6">
                        <div class="row">
                            <div class="col-md-8 col-xs-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label">SEU VOTO PARA</label>
                                            <h1 style="font-weight: bold;">PRESIDENTE</h1>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="control-label lbl">NÚMERO: </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input
                                                      id="digito1"
                                                      type="text"
                                                      class="mytxt"
                                                      maxlength="1"
                                                      [value]="displayNumero1"
                                                      readonly />
                                                    <input
                                                      id="digito2"
                                                      type="text"
                                                      class="mytxt"
                                                      maxlength="1"
                                                      [value]="displayNumero2"
                                                      readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label id="lblNome" class="control-label lbl">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label id="lblPartido" class="control-label lbl">&nbsp;</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 col-xs-4 hidden-xs text-center" style="padding: 10px 10px 0;">
                                <img id="imgFoto" src="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr style="border-top: 1px solid #000000;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <p class="rodape">Aperte a Tecla</p>
                                <p class="rodape">VERDE para CONFIRMAR</p>
                                <p class="rodape">LARANJA para CORRIGIR</p>
                            </div>
                        </div>
                    </div>
                    <div id="fimVoto" class="col-md-7 col-xs-6" style="display: none;">
                        <div class="col-md-12 text-center centralizarFim">
                            <span class="spanFim">FIM</span>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-6 direita text-center">
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <button
                                  type="button"
                                  id="btnNumero1"
                                  (click)="adicionarNumero('1')"
                                  class="btn btn-lg btn-primary btn-number">1</button>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <button
                                  id="btnNumero2"
                                  (click)="adicionarNumero('2')"
                                  class="btn btn-lg btn-primary btn-number">2</button>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <button
                                  id="btnNumero3"
                                  (click)="adicionarNumero('3')"
                                  class="btn btn-lg btn-primary btn-number">3</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <button
                                  id="btnNumero4"
                                  (click)="adicionarNumero('4')"
                                  class="btn btn-lg btn-primary btn-number">4</button>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <button
                                  id="btnNumero5"
                                  (click)="adicionarNumero('5')"
                                  class="btn btn-lg btn-primary btn-number">5</button>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <button
                                  id="btnNumero6"
                                  (click)="adicionarNumero('6')"
                                  class="btn btn-lg btn-primary btn-number">6</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <button
                                  id="btnNumero7"
                                  (click)="adicionarNumero('7')"
                                  class="btn btn-lg btn-primary btn-number">7</button>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <button
                                  id="btnNumero8"
                                  (click)="adicionarNumero('8')"
                                  class="btn btn-lg btn-primary btn-number">8</button>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <button
                                  id="btnNumero9"
                                  (click)="adicionarNumero('9')"
                                  class="btn btn-lg btn-primary btn-number">9</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <button
                                  id="btnNumero0"
                                  (click)="adicionarNumero('0')"
                                  class="btn btn-lg btn-primary btn-number">0</button>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px;">
                            <div class="col-md-4 col-xs-12">
                                <button id="btnAnular" class="btn btn-lg btn-default btn-acao">BRANCO</button>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button
                                  id="btnCorrigir"
                                  (click)="corrigir()"
                                  class="btn btn-lg btn-warning btn-acao">CORRIGE</button>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button
                                  id="btnConfirmar" class="btn btn-lg btn-success btn-acao">CONFIRMA</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
